@page "/admin/inbox"
@using HelpDesk_Benedict.Models
@using HelpDesk_Benedict.Services
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
<h3>AdminInbox</h3>
@inject TicketService ticketService
@inject NavigationManager NavigationManager


<div class="flex flex-column justify-content-center">
   <h1>New Notifications</h1>
</div>
@code {

}
