@using HelpDesk_Benedict.Data
@using HelpDesk_Benedict.Models
@using HelpDesk_Benedict.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> signInManager
@inject NavigationManager NavigationManager
@page "/login"

<h3>Login</h3>

@if (loginFailed) {
    <div class="alert alert-danger">@errorMessage</div>
}
<EditForm Model="Model" OnValidSubmit="Authenticate" FormName="loginForm">
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
    <div>
        <label for="email">E-Mail</label>
        <InputText id="email" class="form-control" @bind-Value="Model.Email"></InputText>
    </div>
    <div class="mb-3">
        <label for="password">Passwort</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="Model.Password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div class="mb-3">
        No Account yet?
        <a href="/register" class="text-primary">
            Register now
        </a>
    </div>
</EditForm>
@code {
    [SupplyParameterFromForm]
    public LoginViewModel Model { get; set; } = new();

    private string errorMessage = string.Empty;
    private bool loginFailed = false;

    private async Task Authenticate()
    {
        var user = await signInManager.UserManager.FindByEmailAsync(Model.Email);
        user.AdminConfirmed = true;
        if (user == null)
        {
            loginFailed = true;
            errorMessage = "User not found.";
            return;
        }

        var userName = await signInManager.UserManager.GetUserNameAsync(user);

        if (userName == null)
        {
            loginFailed = true;
            errorMessage = "Username failed";
            return;
        }

        var result = await signInManager.PasswordSignInAsync(userName, Model.Password, false, false);

        if (result.Succeeded) {
            loginFailed = false;
            NavigationManager.NavigateTo("/", forceLoad: true);
        } else {
            loginFailed = true;
            errorMessage = "Login fehlgeschlagen.";
        }   
    }  
}
